{% extends '../layouts/_layout.twig' %}
{% block frame %}
	<div class="g-frame">
		<p class="g-frame__title">1280px</p>
		<iframe src="block.html" width="1280" height="600" frameborder="0" class="g-frame__box"></iframe>
	</div>
	<div class="g-frame">
		<p class="g-frame__title">1024px</p>
		<iframe src="block.html" width="1024" height="600" frameborder="0" class="g-frame__box"></iframe>
	</div>
	<div class="g-frame">
		<p class="g-frame__title">300px</p>
		<iframe src="block.html" width="300" height="600" frameborder="0" class="g-frame__box"></iframe>
	</div>
{% endblock %}
