/public_html/*.sql
*.log
*.gz
*.zip
*.rar
logs/

/.htaccess
/.htpasswd

/public_html/upload/*
/public_html/logs/*
/public_html/bitrix/tmp/*
/public_html/bitrix/backup/*
/public_html/bitrix/cache/*
/public_html/bitrix/managed_cache/*
/public_html/bitrix/html_pages/*/
/public_html/bitrix/html_pages/.enabled
/public_html/bitrix/stack_cache/*
/public_html/bitrix/catalog_export/*

/cgi-bin/*
/node_modules/

/.idea
/.idea/*
*.sublime-project
*.sublime-workspace
.brackets.json

*.map
_sprites-variable-png.styl

*DS_Store
*.bash_history
.bash_history

/public_html/local/.settings.spec.php
/public_html/local/php_interface/.dbconn.spec.php

/public_html/test.php

/public_html/local/php_interface/vendor/
/public_html/local/modules/wlbl.twigrix/

*.wlbl
*.sketch
*.TODO

.cache
.viminfo
.ssh
.composer
.gitconfig
.mysql_history
nodejs
.bash_profile
.npm
/.node_repl_history
/.selected_editor
/.v8flags.*
