.l-list {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	width: 100%;

	&__item {
		position: relative;
		left: 0;
		flex-basis: 100%;
		transition: transform .3s ease, left .5s ease;

		&.is-prepare {
			visibility: hidden;
			transition: none;
		}

		&.is-disable {
			display: none;
		}
	}

	@media #{above('medium')} {
		&__item {
			flex-basis: (320 / map-get($map-media, 'medium')) * 100%;
		}

		&__item--big {
			flex-basis: (640 / map-get($map-media, 'medium')) * 100%;
		}
	}

	@media #{above('large')} {
		min-height: 640px;

		&__item {
			flex-basis: (320 / map-get($map-media, 'large')) * 100%;
		}

		&__item--big {
			flex-basis: (640 / map-get($map-media, 'large')) * 100%;
		}
	}
}
