@charset "UTF-8";
/**
 * Размеры экранов
 */
/**
 * Цвета
 */
/**
 * Выделение цвета в стайлгид
 */
@font-face {
  font-family: "ruble";
  src: url("../../fonts/ruble/ruble-webfont.eot");
  src: url("../../fonts/ruble/ruble-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/ruble/ruble-webfont.ttf") format("truetype"), url("../../fonts/ruble/ruble-webfont.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Light/OpenSans-Light.eot");
  src: url("../../fonts/OpenSans-Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans-Light/OpenSans-Light.ttf") format("truetype"), url("../../fonts/OpenSans-Light/OpenSans-Light.woff") format("woff");
  font-weight: 300; }

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Regular/OpenSans-Regular.eot");
  src: url("../../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype"), url("../../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Semibold/OpenSans-Semibold.eot");
  src: url("../../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype"), url("../../fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff");
  font-weight: 600; }

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Bold/OpenSans-Bold.eot");
  src: url("../../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), url("../../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff");
  font-weight: 800; }

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular/Roboto-Regular.eot");
  src: url("../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("../../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff");
  font-weight: 400; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 1em;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  position: relative;
  margin: 0; }

.u-ff-ruble {
  font-family: 'ruble';
  font-size: 1em; }

.l-wrap {
  position: relative;
  font-family: 'OpenSans';
  font-weight: 400;
  color: #c8d0dc;
  background: #192431;
  overflow-x: hidden; }

.l-wrap-up-btn {
  position: fixed;
  right: 10px;
  bottom: 18%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease; }
  .l-wrap-up-btn.is-active {
    opacity: 1;
    pointer-events: auto; }

.l-header {
  position: relative; }
  .l-header .l-header__top {
    padding: 12px 20px 14px; }
    @media only screen and (max-width: 959px) {
      .l-header .l-header__top {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media only screen and (min-width: 960px) {
      .l-header .l-header__top {
        padding: 35px 0 10px; } }
  .l-header__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
    @media only screen and (max-width: 959px) {
      .l-header__title [data-screen="desktop"] {
        display: none; } }
    @media only screen and (min-width: 960px) {
      .l-header__title {
        font-size: 32px;
        font-weight: 300;
        line-height: 30px;
        text-align: center; }
        .l-header__title [data-screen="mobile"] {
          display: none; } }
  .l-header__burger {
    float: right; }
    @media only screen and (min-width: 960px) {
      .l-header__burger {
        display: none; } }
  .l-header__menu {
    padding: 10px 0 15px; }
    @media only screen and (max-width: 959px) {
      .l-header__menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        padding: 40px;
        background: #192431;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: -webkit-transform .5s ease;
        transition: -webkit-transform .5s ease;
        transition: transform .5s ease;
        transition: transform .5s ease, -webkit-transform .5s ease; }
        .l-header__menu.is-active {
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0); } }

.l-main {
  position: relative; }

.l-filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  padding: 0; }
  .l-filter__item {
    margin: 0;
    padding: 10px;
    list-style: none; }

.l-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%; }
  .l-list__item {
    position: relative;
    left: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-transition: left .5s ease, -webkit-transform .3s ease;
    transition: left .5s ease, -webkit-transform .3s ease;
    transition: transform .3s ease, left .5s ease;
    transition: transform .3s ease, left .5s ease, -webkit-transform .3s ease; }
    .l-list__item.is-prepare {
      visibility: hidden;
      -webkit-transition: none;
      transition: none; }
    .l-list__item.is-disable {
      display: none; }
  @media only screen and (min-width: 960px) {
    .l-list {
      min-height: 640px; }
      .l-list__item {
        -webkit-flex-basis: 33.33333%;
            -ms-flex-preferred-size: 33.33333%;
                flex-basis: 33.33333%; }
      .l-list__item--big {
        -webkit-flex-basis: 66.66667%;
            -ms-flex-preferred-size: 66.66667%;
                flex-basis: 66.66667%; } }
  @media only screen and (min-width: 1280px) {
    .l-list__item {
      -webkit-flex-basis: 25%;
          -ms-flex-preferred-size: 25%;
              flex-basis: 25%; }
    .l-list__item--big {
      -webkit-flex-basis: 50%;
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%; } }

.b-btn {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 25px;
  width: 100%;
  height: 52px;
  font-size: 14px;
  font-weight: 600;
  line-height: 52px;
  border: none;
  color: #fff;
  background: #4da84b;
  border-radius: 4px;
  text-align: center;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  -webkit-appearance: none; }
  .b-btn:disabled, .b-btn[disabled] {
    opacity: 0.5;
    cursor: default;
    pointer-events: none; }

a.b-btn {
  text-decoration: none; }

.b-btn--circle {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  -webkit-transition: background .3s ease;
  transition: background .3s ease; }
  .b-btn--circle .b-btn__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: auto;
    fill: currentColor;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .b-btn--circle:hover {
    background: rgba(255, 255, 255, 0.5); }

.b-radio {
  position: relative;
  display: inline-block; }
  .b-radio__native {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0; }
    .b-radio__native:checked + .b-radio__label {
      border-color: rgba(255, 255, 255, 0.3); }
    .b-radio__native:disabled + .b-radio__label {
      opacity: 0.5;
      pointer-events: none; }
  .b-radio__label {
    display: block;
    padding: 0 20px;
    height: 34px;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 32px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: color .3s ease, border-color .3s ease;
    transition: color .3s ease, border-color .3s ease; }
  .b-radio:hover .b-radio__label {
    color: #4da84b; }
  .b-radio:hover .b-radio__native:checked + .b-radio__label {
    border-color: rgba(77, 168, 75, 0.3); }
  .b-radio:hover .b-radio__native:disabled + .b-radio__label {
    color: #fff;
    border-color: transparent; }
  .b-radio:hover .b-radio__native:disabled:checked + .b-radio__label {
    border-color: rgba(255, 255, 255, 0.3); }

.b-price {
  font-weight: 800;
  white-space: nowrap; }

.b-burger {
  position: relative;
  width: 20px;
  height: 14px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer; }
  .b-burger:before, .b-burger:after, .b-burger__middle-line {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background: #c8d0dc;
    border-radius: 100px; }
  .b-burger:after, .b-burger:before {
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .b-burger:before {
    top: 0; }
  .b-burger:after {
    bottom: 0; }
  .b-burger__middle-line {
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: width 0.3s;
    transition: width 0.3s; }
  .b-burger.is-active .b-burger__middle-line {
    width: 0; }
  .b-burger.is-active:after, .b-burger.is-active:before {
    top: 6px; }
  .b-burger.is-active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .b-burger.is-active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.b-card {
  position: relative;
  width: 100%;
  height: 300px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #c8d0dc;
  background: #041120;
  overflow: hidden; }
  @media only screen and (min-width: 960px) {
    .b-card {
      height: 332px; } }
  @media only screen and (min-width: 1280px) {
    .b-card {
      height: 320px; } }
  .b-card__image, .b-card__image:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .b-card__image {
    background: transparent no-repeat center / cover;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease; }
    .b-card__image:before {
      content: '';
      background: -webkit-linear-gradient(315deg, #000 0%, rgba(4, 17, 32, 0.36) 47%, rgba(0, 0, 0, 0.7) 100%);
      background: linear-gradient(-225deg, #000 0%, rgba(4, 17, 32, 0.36) 47%, rgba(0, 0, 0, 0.7) 100%);
      opacity: 1;
      -webkit-transition: opacity .3s ease;
      transition: opacity .3s ease; }
  .b-card__header, .b-card__body {
    position: absolute;
    left: 0;
    padding: 30px;
    width: 100%; }
    @media only screen and (min-width: 960px) {
      .b-card__header, .b-card__body {
        padding: 30px 40px; } }
  .b-card__header {
    top: 0; }
  .b-card__body {
    bottom: 0;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease; }
  .b-card__title {
    margin: 0 0 25px;
    max-width: 160px;
    font-size: 30px;
    font-weight: 800;
    line-height: 34px; }
  .b-card__highlight-text {
    color: #4da84b; }

.b-card:hover .b-card__image {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3); }

.b-card:hover .b-card__image:before {
  opacity: .3; }

.b-card:hover .b-card-action__btn {
  background: #4db94b; }

.b-card:hover .b-card__body {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px); }

.b-card-action__text {
  display: inline-block;
  margin-bottom: 30px; }

.b-card-action__btn {
  font-size: 16px; }

@media only screen and (min-width: 960px) {
  .b-card-action__text, .b-card-action__btn {
    font-size: 20px;
    vertical-align: middle; }
  .b-card-action__text {
    margin-right: 30px;
    margin-bottom: 0; }
  .b-card-action__btn {
    width: auto; } }

.b-card-privilege {
  font-weight: 800; }
  .b-card-privilege__icon {
    width: 30px;
    height: auto;
    fill: currentColor;
    vertical-align: baseline; }
  .b-card-privilege__text {
    display: none; }
  @media only screen and (min-width: 960px) {
    .b-card-privilege__icon {
      width: 20px; }
    .b-card-privilege__text {
      display: inline-block; } }

.b-card--main .b-card__title {
  margin-bottom: 10px;
  max-width: none;
  font-size: 30px;
  line-height: 30px; }
  @media only screen and (min-width: 960px) {
    .b-card--main .b-card__title {
      margin-bottom: 35px;
      font-size: 50px;
      line-height: 40px; } }
