<header class="l-header">
	<div class="l-header__top">
		<h1 class="l-header__title">
			<span data-screen="mobile">Турнир</span>
			<span data-screen="desktop"><span class="b-price">32 566 534 203<span class="u-ff-ruble">o</span></span> уже выплачено!</span>
		</h1>
		<div class="l-header__burger">
			<button class="b-burger js-menu-trigger" type="button"><i class="b-burger__middle-line"></i></button>
		</div>
	</div>
	<div class="l-header__menu js-menu">
		<ul class="l-filter">
			<li class="l-filter__item">
				<label class="b-radio">
					<input class="b-radio__native js-filter" type="radio" name="filter[param]" value="all" checked>
					<span class="b-radio__label">Все турниры</span>
				</label>
			</li>
			<li class="l-filter__item">
				<label class="b-radio">
					<input class="b-radio__native js-filter" type="radio" name="filter[param]" value="active">
					<span class="b-radio__label">Активные турниры</span>
				</label>
			</li>
			<li class="l-filter__item">
				<label class="b-radio">
					<input class="b-radio__native js-filter" type="radio" name="filter[param]" value="nearest">
					<span class="b-radio__label">Ближайшие турниры</span>
				</label>
			</li>
			<li class="l-filter__item">
				<label class="b-radio">
					<input class="b-radio__native js-filter" type="radio" name="filter[param]" value="vip">
					<span class="b-radio__label">VIP-турниры</span>
				</label>
			</li>
			<li class="l-filter__item">
				<label class="b-radio">
					<input class="b-radio__native js-filter" type="radio" name="filter[param]" value="last">
					<span class="b-radio__label">Прошедшие турниры</span>
				</label>
			</li>
		</ul>
	</div>
</header>
